<%- include('header'); -%>
    <div class="header">
        <h3 class="hero">Today</h3>
        <p>
            You have 
            <span class="highlight"><%= tasks.length %> tasks</span>
            to complete.
        </p>
    </div>
    <div id="form" class="d-grid gap-2">
        <form action="/task/create" method="POST">
            <div class="mb-3">
                <label for="taskLabel" class="form-label">Create a task</label>
                <input type="text" name="task" class="form-control" id="taskLabel" placeholder="Write a task like meeting at 2pm">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" >Create</button>
            </div>
        </form>
    </div>            
    <div class="list">
        <% if(tasks.length> 0){ %>
            <% tasks.forEach((item) => { %>
            <div class="card">
                <div class="card-body">
                    <%= item.task %>
                    <div class="buttons">
                        <a href="/task/done/<%= item.id %>" class="action">
                            <i class="far fa-check-circle"></i>
                        </a>
                        <a href="/task/edit/<%= item.id %>" class="action">
                            <i class="far fa-pen"></i>
                        </a>                        
                        <a href="/task/delete/<%= item.id %>" class="action">
                            <i class="far fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        <% }); %>
        <% } else { %>
            <p>It's time to add a task.</p>
        <% }; %>        
    </div>
<%- include('footer'); -%>
